<header class="topbar">
  <div class="container inner">
    <div class="left">
      <div class="logo">
        <span class="material-symbols-rounded">auto_stories</span>
      </div>
      <div class="titles">
        <h1>Open Library</h1>
        <p>Subject: <b>computers</b>  <b>  •premium  </b>  by Mohamed Ali Ben Alaya</p>
      </div>
    </div>

    <div class="right">
      <a class="chip" href="https://openlibrary.org" target="_blank" rel="noopener">
        <span class="material-symbols-rounded">link</span> API
      </a>
    </div>
  </div>
</header>
